@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Phone:</abbr>
    +201117459860
</address>

<address>
    <strong>Gmail:</strong>   <a href="mailto:yousef.mohammed.mostafa@gmail.com">yousef.mohammed.mostafa@gmail.com</a><br />
    <strong>Github:</strong>   <a target="_blank" href="https://github.com/YoussefEl-Shamy/">https://github.com/YoussefEl-Shamy/</a><br />
    <strong>LinkedIn:</strong>   <a target="_blank" href="https://www.linkedin.com/in/youssef-elshamy-570576187/">LinedIn Profile</a><br />
    <strong>Facebook:</strong>   <a target="_blank" href="https://www.facebook.com/youssef.elshamy.585">Facebook Profile</a><br />
</address>